html {
  --link-text: rgba(29, 20, 20, 0.83);

  --portfolio-background: #ecebe4;
  --portfolio-title: #a3a08f;
  --portfolio-quote: #465660;
  --portfolio-text: #465660;

  --background-background: #daa520;
  --background-title: #ffedc1;
  --background-quote: #465660;
  --background-text: #465660;

  --skills-background: #b4c8ff;
  --skills-title: #9fa8c4;
  --skills-quote: #465660;
  --skills-text: #465660;

  --about-background: #757780;
  --about-title: var(--link-text);
  --about-quote: #465660;
  --about-text: #465660;

  --contact-background: #4caf50;
  --contact-title: #86d889;
  --contact-quote: #465660;
  --contact-text: #465660;

  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.1;
}

nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
}

nav a {
  color: var(--link-text);
}

main {
  display: grid;
  grid-template-rows: repeat(2, max-content) auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 5% 0;
  width: 80%;
}

h1 {
  font-family: Raleway;
  font-size: calc(250% + 5vw);
  line-height: 1em;
  text-align: center;
}

h2 {
  font-family: Oswald;
  font-size: calc(100% + 1vw);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin: 5px 0px 15px 0px;
}

h3 {
  font-size: 1em;
  line-height: 1.1em;
  text-align: center;
}
