html {
  --link-text: rgba(29, 20, 20, 0.83);

  --about-background: #4caf50;
  --about-title: #86d889;
  --about-quote: #acc4ad;
  --about-text: #243324;

  --background-background: #daa520;
  --background-title: #ffedc1;
  --background-quote: #8c7d58;
  --background-text: #ffffff;

  --skills-background: #ecebe4;
  --skills-title: #a3a08f;
  --skills-quote: #474539;
  --skills-text: #000000;

  --portfolio-background: #b4c8ff;
  --portfolio-title: #9fa8c4;
  --portfolio-quote: #62656d;
  --portfolio-text: #3f4554;

  --contact-background: #757780;
  --contact-title: var(--link-text);
  --contact-quote: #c4dfef;
  --contact-text: #465660;
}

nav {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
}

nav a {
  color: var(--link-text);
}

h1 {
  font-size: calc(250% + 5vw);
  line-height: 1em;
}

h2 {
  font-size: calc(150% + 1vw);
  font-style: italic;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
}
